@import "node_modules/compass-mixins/lib/compass";

// FONTS

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Suez+One&display=swap');

// important 
$nb: !important;


/*
    Fonts
*/
$font_fb: Arial,
Helvetica,
Lucida,
sans-serif;
$font_head: 'Suez One',
$font_fb;
$font_body: 'PT Sans',
$font_fb;

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: $font_head;

}

p,
a,
select {

    font-family: $font_body;
    text-decoration: none $nb;

}

.font-head {

    font-family: $font_head $nb;

}



// Images 

$path_img: '../assets/img/';

$gift: url(#{$path_img}gift.svg);
$heart: url(#{$path_img}heart.svg);
$star: url(#{$path_img}star.svg);
$tag: url(#{$path_img}tag.svg);
$tag-white: url(#{$path_img}tag-white.svg);
$store-alt: url(#{$path_img}store-alt.svg);
$superbalist-dark: url(#{$path_img}superbalist-dark.svg);
$chevron-right: url(#{$path_img}chevron-right.svg);
$sale-banner: url(#{$path_img}Sale-Banner.jpg);
$cart-plus: url(#{$path_img}cart-plus.svg);
$advert-banner: url(#{$path_img}Advert-Banner.png);
$carousel-chev-right: url(#{$path_img}carousel-chevron-right.svg);
$carousel-chev-left: url(#{$path_img}carousel-chevron-left.svg);


// color-var

$color_accent: #00A2FF;
$color_accent_1: #4A4A4A;
$color_accent-2: #111111;
$color-light-grey: #EAEAEA;
$color-text: #828282;
$color-placeholder: rgba(130, 130, 130, 0.5);
$color-carousel-indcator: rgba(0, 0, 0, 0.19);
$color_white : #fff;
$color_black: #000;

.text-grey {
    color: $color-text $nb;
}

.text-dark {
    color: $color_black $nb;
}

.list-0 {
    list-style-type: 0;
}

.rw-light {
    background: $color-light-grey;

    * {
        background: $color-light-grey;
    }
}

.form-control:focus {

    box-shadow: none $nb;
    border-color: $color-placeholder $nb;

}

.bootstrap-tagsinput {

    @include display-flex;
    @include align-items(center);

    &::placeholder {

        display: none;

    }

    .tag {

        font-family: $font_body;
        background: $color_accent;
        padding: 5px;
        position: relative;
        padding-left: 30px;
        padding-right: 10px;
        @include border-radius(3px);

        span {

            background: $color_accent;
            position: absolute;
            left: 0;

        }

    }

}

// header with after and letter blue

.half-blue {
    color: $color_accent;
}

.line {

    &:after {

        content: '';
        position: absolute;
        height: 2px;
        width: 70%;
        background: $color-text;
        right: 15px;
        top: 37px;

    }
}



.p-sm {

    color: $color-placeholder;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
}

//spacing

.section {
    padding: 20px 45px $nb;
}

.space {

    border-bottom: 1px solid $color-placeholder;
    margin-bottom: 17px;
    margin-left: 20px;
    margin-right: 60px;

}


@import "../node_modules/bootstrap/scss/bootstrap";

/********************************************************/
/************************ HEADER ************************/
/********************************************************/

.navbar {

    background: $color_white $nb;
    padding: 20px 45px;

    &-brand {

        margin-right: 75px;

    }

    &-nav {

        width: 100%;

        .nav-item {

            a {

                font-family: $font_head;
                font-size: 17px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                color: $color_accent-2 $nb;

            }

            &:not(:last-child) {

                @include media-breakpoint-up(xl) {

                    margin-right: 30px;

                }

            }

        }

        .active {

            a {
                color: $color_accent $nb;
            }
        }

    }

    &-rate {

        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        width: 100%;

        .nav-link {

            span {
                display: none;
            }

        }

        .link {

            &-gift {

                content: $gift;

            }

            &-star {

                content: $star;

            }

            &-heart {

                content: $heart;

            }

            &-tag {

                content: $tag;

            }

        }

    }

    &-buttons {

        width: 100%;

        button {

            &:first-child {

                margin-right: 10px;

            }

        }

    }

    &-toggler {

        border: 0 $nb;
        color: $color_accent $nb;
        outline: none $nb;
        border-color: $color_accent;

        .navbar-toggler-icon {
            color: $color_accent $nb;
        }

    }


}

/********************************************************/
/****************** BUTTONS ******************************/
/********************************************************/


.btn {

    &-primary {

        @include border-radius(4px);
        @include box-sizing(border-box);
        background: transparent;
        border: 3px solid $color_accent $nb;
        color: $color_accent;
        font-family: $font_head;
        font-size: 17px;
        line-height: 22px;
        padding: 10px 30px;
        text-transform: uppercase;


        &:hover {

            background: $color_accent $nb;
            color: $color_white;

        }

        &-w100 {

            @extend .btn-primary;
            width: 100%;
            padding: 25px;
            background: $color_accent;
            color: $color_white;
            font-size: 30px;

            &:before {

                content: $cart-plus;
                margin-right: 30px;

            }

        }

    }

    &-secondary {

        @include border-radius(4px);
        @include box-sizing(border-box);
        background: $color_white;
        border: 3px solid $color_white;
        color: $color_accent;
        font-family: $font_head;
        font-size: 17px;
        line-height: 22px;
        text-transform: uppercase;

        &:hover {

            color: $color_accent;
            border: 3px solid $color_white;
            background: $color_white;

        }

    }

    &-light {

        @extend .btn-primary;
        background: transparent;
        border: 3px solid $color_white $nb;
        color: $color_white;

        &:hover {

            background: $color_accent $nb;
            color: $color_white;
            border: 3px solid $color_accent $nb;
            transition: 3000s;

        }

        &-lg {

            @extend .btn-light;
            @include border-radius(0 $nb);
            background: $color_white;
            color: $color_accent;
            padding: 16px 46px;

            &:hover {

                background: transparent $nb;
                color: $color_white $nb;

            }

        }

    }

    &-primary-search {

        @include border-radius(0 $nb);
        background: $color_accent $nb;
        border: 3px solid $color_accent;
        color: $color_white;
        font-size: 20px;
        font-family: $font_head $nb;
        padding: 16px 46px;

        &:hover {

            background: transparent $nb;
            color: $color_accent $nb;
            border: 3px solid $color_accent;

        }

    }

}

.close {

    color: $color_white;
    opacity: 1;
    position: absolute;
    right: 12px;
    top: 3px;

    &:hover {

        color: $color_white;

    }

}

/********************************************************/
/****************** GRID ******************************/
/********************************************************/

body {

    max-width: 1300px;
    margin: 0 auto;

}



.footer {

    background: $color_accent_1;

    * {

        color: $color_white;

        ul {

            list-style-type: none;
            padding-left: 0;

        }

    }

    .fwidget-social-follow {

        .facebook,
        .instagram {

            i {

                font-size: 40px;
                margin-top: 15px;

                &:first-child {

                    margin-right: 40px;

                }

            }

        }

    }

}


/********************************************************/
/****************** MODULES *****************************/
/********************************************************/
.breadcrumb {

    background: $color_white;

    &-item {

        line-height: 13px;
        color: $color_accent;

        &:not(:first-child) {

            &:before {

                content: $chevron-right;
                padding-right: 15px;
                padding-left: 15px;

            }
        }
    }
}

.module {

    &-sale-banner {

        padding: 12px 22px;
        background-image: $sale-banner;
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        width: 100%;

        @include media-breakpoint-up(md) {
            
            padding: 12px 22px;

         }

    }

    &-subscribe {

        background: $color_accent;
        margin-top: 47px;
        padding: 18px 25px;
        position: relative;

        &-head {

            i {
                font-size: 40px;
                padding-bottom: 14px;
            }

            h5 {

                padding-bottom: 24px;

            }
        }

        &-content {

            label {

                padding-left: 15px;

            }

            input {

                border: 1px solid $color_white;
                box-sizing: border-box;
                border-radius: 2px;

                &::placeholder {

                    color: $color-placeholder;
                    font-weight: bold;
                    text-transform: uppercase;

                }

            }

        }

    }

    &-product-info {

        border: 6px solid $color_accent;
        padding: 22px;

    }

    &-product-model {

        padding-top: 17px;

        ul {

            list-style: none;
            padding-left: 20px;

            &:nth-child(odd) {

                li {

                    p {

                        font-weight: bold;

                    }

                }

                .product-color {

                    &:before {

                        background: #91613D;
                        border-radius: 50%;
                        border: 2px solid $black;
                        content: '';
                        margin-top: 5px;
                        max-height: 15px;
                        max-width: 15px;
                        width: 100%;
                    }

                }

            }

        }

    }

    &-product-details {


        p {
            padding-left: 20px;

        }

    }

    &-product-price {

        @include display-flex;
        @include align-items(baseline);
        @include justify-content(flex-end);
        padding-right: 20px;

        .price {

            @include display-flex;
            @include align-items(center);

            p {

                font-size: 30px;
                line-height: 39px;
                margin-bottom: 0;
                margin-left: 20px;
                position: relative;
                text-transform: uppercase;

                .badge {

                    position: absolute;
                    left: 27px;
                    top: -25px;
                    font-size: 14px;

                    &:before {

                        @include transform(rotate(-8.84deg));
                        border: 1px solid $color-text;
                        color: $color-text;
                        content: '';
                        max-width: 50px;
                        position: absolute;
                        right: -2px;
                        top: 13px;
                        width: 50px;
                    }

                }

            }

        }

    }

    &-product-add-cart {

        background: $color-light-grey;
        margin-top: 15px;
        padding: 40px 20px;

        label {

            padding-left: 15px;
            font-size: 18px;
            color: $color-placeholder;

        }

        select {

            @include border-radius(2px);
            box-sizing: border-box;


            * {
                color: $color-placeholder;
                font-family: $font_body $nb;
                font-family: bold $nb;
                text-transform: uppercase;
            }

            option {

                color: $color-placeholder;

            }

        }

        .select-quantity {

            margin-top: 30px;

        }

    }

    &-related-product {

        position: relative;
        border: 4px solid $color_white;
        max-width: 362px;

        @media (min-width: 768px) {

            max-width: 100%;

        }


        &:hover {

            @include transition(transform .5s ease-in);
            background: $color-light-grey;
            border: 4px solid $color_accent;
            cursor: pointer;

            .badge-secondary {

                background: $color-light-grey;
                @include transition(transform .1s ease-in);

            }

            h5 {

                color: $color_accent $nb;

            }

            .price-container {

                * {
                    color: $color_accent $nb;
                }
            }
        }

        .product-image {

            position: relative;

            .badge {

                &-primary {

                    position: absolute;
                    right: 12px;
                    top: 12px;

                }

                &-dark {

                    bottom: 12px;
                    left: 12px;
                    position: absolute;

                }

            }

        }

        .product-content {

            padding: 12px;

            .price-container {

                margin-top: 10px;

                p {
                    font-size: 20px $nb;
                    margin-bottom: 0;
                }

                a {
                    font-size: 14px;
                    color: $color-text;
                    font-weight: bold;

                    i {
                        padding-left: 16px;
                    }
                }

            }

        }

    }

}


.badge {

    &-primary {

        background: $color_accent;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        line-height: 21px;
        padding: 5px 10px 5px 30px;
        position: relative;

        &:before {

            content: $tag-white;
            padding-top: 5px;
            position: absolute;
            left: 9px;
            top: 4px;

        }

    }

    &-secondary {

        font-size: 12px;
        line-height: 16px;
        padding: 0 0 0 20px;
        position: relative;
        background: $color_white;
        color: $color-placeholder;
        font-weight: normal;

        &:before {

            content: $store-alt;
            padding-top: 5px;
            position: absolute;
            left: 0px;
            top: -3px;

        }

    }

    &-light {

        background: $color_white;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;

    }

    &-dark {

        font-size: 16px;
        font-style: italic;
        padding: 5px;
        background: rgba(0, 0, 0, 0.56);
        border-radius: 4px;

    }

    &-secondary-light {

        font-size: 12px;
        line-height: 24px;
        padding: 0 0 0 30px;
        position: relative;
        background: $color_white;
        font-weight: bold;

        &:before {

            content: $superbalist-dark;
            padding-top: 5px;

        }
    }

}

/********************************************************/
/****************** CAROSEL *****************************/
/********************************************************/
.thumbnails {

    li {

        margin-top: 17px;
        margin-right: 12px;

    }

}

.carousel-indicators {

    padding: 0 $nb;
    position: relative $nb;
    margin: 0 $nb;

    li {


        width: 100%;
        height: 100%;

        img {

            max-width: 96px;
            max-height: 96px;

        }

    }

}

.nav-carousel-indicators {

    position: absolute;
    left: 50%;
    bottom: 15px;
    margin-left: -45px;

    ol {

        @include border-radius(32px);
        background: $color-carousel-indcator;
        height: 15px;
        margin-left: 3px $nb;
        margin-right: 3px $nb;
        margin-top: 0 $nb;
        width: 76px;

        li {

            @include border-radius(50%);
            color: $color_white;
            height: 6.53px;
            width: 6.53px;

        }

        .active {

            color: $color_white;
            width: 7.72px;
            height: 7.72px;

        }

    }

}

.carousel-inner {

    .badge {

        float: right;
        margin-top: 15px;
        margin-right: 15px;
        z-index: 9 $nb;
    }

}

.carousel-control {

    &-next {

        top: -130px;

    }

    &-prev {

        top: -130px;

    }

}

.carousel-nav-right {

    &:before {

        content: $carousel-chev-right;

    }

}

.carousel-nav-left {

    &:before {

        content: $carousel-chev-left;

    }

}

.thumbnails {

    .col-3 {

        max-width: 96px;
        flex: 0 0 22%;
        border: 2px solid $color_white;

        &:hover {

            border: 2px solid $color_accent;

        }

    }

}



/*
*   Offcanvas sidebar
*/

.sidebar_offcanvas {

    &_container {

        @include transform(translate(-105%, 0));
        @include transition(transform .5s ease-in-out);
        min-width: 20%;
        left: 10px;
        top: 200px;
        z-index: 99999;


        &.open {

            @include transform(translate(0px, 0));
            max-height: 100% $nb;
            margin: 20px 0;

            .sidebar_offcanvas_trigger {

                display: none;

            }

        }

    }

    &_inner {

        padding: 20px;
        position: relative;

        .siderbar-search-module {

            .module-search {

                .module-header {

                    background: $color_accent;
                    padding: 15px 20px;

                }

            }

            .module-content {

                padding: 15px 20px;

            }

        }

    }

    &_trigger {

        @include transform(translate(-100%, -50%));
        background: $color_accent;
        display: inline-block;
        position: absolute;
        right: -85px;
        top: 50%;
        padding: 10px;
        font-size: 25px;
        height: 50px;
        width: 50px;
        height: 40px;
        width: 40px;
        @include border-radius(0 30px 30px 0);

        i {

            font-size: 14px;
            text-align: center;
            color: $color_white;

            &:before {

                position: absolute;
                top: 13px;
                left: 15px;

            }

        }

        span {

            display: none;

        }

    }

}

.sidebar-mobile {

    position: fixed;
    width: 100%;

    .sidebar_offcanvas_trigger {

        right: -85px;

        @media (min-width: 576px) {

            right: -107px;

        }


        @media (min-width: 768px) {

            right: -111px;

        }

    }

    .siderbar-search-module {

        background: $color_white;

    }

}