@import "node_modules/compass-mixins/lib/compass";

// FONTS

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Suez+One&display=swap');

// important 
$nb:   !important;


/*
    Fonts
*/
$font_fb:           Arial, Helvetica, Lucida, sans-serif;
$font_head:         'Suez One', $font_fb;
$font_body:         'PT Sans', $font_fb;

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: $font_head;

}

p,
a,
select  {

    font-family: $font_body;
    text-decoration: none $nb;

}

.font-head {

    font-family: $font_head $nb;
 
}




// Images 

$path_img:                  '../assets/img/';

$gift:                      url(#{$path_img}gift.svg);
$heart:                     url(#{$path_img}heart.svg);
$star:                      url(#{$path_img}star.svg);
$tag:                       url(#{$path_img}tag.svg);
$tag-white:                 url(#{$path_img}tag-white.svg);
$store-alt:                 url(#{$path_img}store-alt.svg);
$icon-close:                url(#{$path_img}icon-close.svg);
$chevron-right:             url(#{$path_img}chevron-right.svg);
$sale-banner:               url(#{$path_img}Sale-Banner.jpg);
$cart-plus:                 url(#{$path_img}cart-plus.svg);
$advert-banner:             url(#{$path_img}Advert-Banner.png);
$carousel-chev-right:       url(#{$path_img}carousel-chevron-right.svg);
$carousel-chev-left:        url(#{$path_img}carousel-chevron-left.svg);


// color-var

$color_accent:                  #00A2FF;
$color_accent_1:                #4A4A4A;
$color_accent-2:                #111111;
$color-light-grey:              #EAEAEA;
$color-text:                    #828282;
$color-placeholder:             rgba(130, 130, 130, 0.5);
$color-carousel-indcator:       rgba(0, 0, 0, 0.19);
$color_white :                  #fff;
$color_black:                   #000;

.text-grey {
    color: $color-text $nb;
}

.text-dark {
    color: $color_black $nb;
}

.list-0 {
    list-style-type: 0;
}

.rw-light {
    background: $color-light-grey;

    * {
        background: $color-light-grey;
    }
}

.p-sm {

    color: $color-placeholder;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
}

//spacing

.section {
    padding: 20px 45px $nb;
}

.space {

    border-bottom: 1px solid $color-placeholder;
    margin-bottom: 17px;
    margin-left: 20px;
    margin-right: 60px;

}


@import "../node_modules/bootstrap/scss/bootstrap";

/********************************************************/
/************************ HEADER ************************/
/********************************************************/

.navbar {

    background: $color_white $nb;
    padding: 20px 45px;

    &-brand {

        margin-right: 75px;

    }

    &-nav {

        width: 100%;

        .nav-item {

            a {

                font-family: $font_head;
                font-size: 17px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                color: $color_accent-2 $nb;

            }

            &:not(:last-child) {

                @include media-breakpoint-up(xl) {

                    margin-right: 30px;

                }

            }

        }

        .active {

            a {
                color: $color_accent $nb;
            }
        }

    }

    &-rate {

        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        width: 100%;

        .nav-link {

            span {
                display: none;
            }

        }

        .link {

            &-gift {

                content: $gift;

            }

            &-star {

                content: $star;

            }

            &-heart {

                content: $heart;

            }

            &-tag {

                content: $tag;

            }

        }

    }

    &-buttons {

        width: 100%;

        button {

            &:first-child {

                margin-right: 10px;

            }

        }

    }


}
/********************************************************/
/****************** BUTTONS ******************************/
/********************************************************/


.btn {

    &-primary {

        @include border-radius(4px);
        @include box-sizing(border-box);
        background: transparent;
        border: 3px solid $color_accent $nb;
        color: $color_accent;
        font-family: $font_head;
        font-size: 17px;
        line-height: 22px;
        padding: 10px 30px;
        text-transform: uppercase;


        &:hover {

            background: $color_accent;
            color: $color_white;
            transition: 3000s;

        }

        &-w100 {

            @extend .btn-primary;
            width: 100%;
            padding: 25px;
            background: $color_accent;
            color: $color_white;
            font-size: 30px;

            &:before {

                content: $cart-plus;
                margin-right: 30px;

            }

        }

    }

    &-secondary {

        @include border-radius(4px);
        @include box-sizing(border-box);
        background: $color_white;
        border: 3px solid $color_white;
        color: $color_accent;
        font-family: $font_head;
        font-size: 17px;
        line-height: 22px;
        padding: 10px 30px;
        text-transform: uppercase;

        &:hover {

            background: $color_accent;
            border: 3px solid $color_accent;
            color: $color_white;
            border: 3px solid $color_white;

        }

    }

    &-light {

        @extend .btn-primary;
        background: transparent;
        border: 3px solid $color_white $nb;
        color: $color_white;

        &:hover {

            background: $color_accent $nb;
            color: $color_white;
            border: 3px solid $color_accent $nb;
            transition: 3000s;

        }

        &-lg {

            @extend .btn-light;
            @include border-radius(0 $nb);
            background: $color_white;
            color: $color_accent;
            padding: 16px 46px;

            &:hover {

                background: transparent $nb;
                color: $color_white $nb;

            }

        }

    }

}

.close {

    color: $color_white;
    opacity: 1;
    position: absolute;
    right: 12px;
    top: 3px;

    &:hover {

        color: $color_white;

    }

}

/********************************************************/
/****************** GRID ******************************/
/********************************************************/

body {

    max-width: 1300px;
    margin: 0 auto;

}



.footer {

    background: $color_accent_1;

    * {

        color: $color_white;

        ul {

            list-style-type: none;
            padding-left: 0;

        }

    }

}


/********************************************************/
/****************** MODULES *****************************/
/********************************************************/
.breadcrumb {

    background: $color_white;

    &-item {

        line-height: 13px;

        &:not(:first-child) {

            &:before {

                content: $chevron-right;

            }
        }
    }
}

.module {

    &-sale-banner {

        padding: 12px 55px;
        background-image: $sale-banner;
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        width: 100%;

    }

    &-subscribe {

        background: $color_accent;
        margin-top: 47px;
        padding: 18px 25px;
        position: relative;

        &-head {

            .icon-close {

                &:before {

                    content: $icon-close;
                    position: absolute;
                    right: 12px;
                    top: 11px;
                    cursor: pointer;
                }

            }

            i {
                font-size: 40px;
                padding-bottom: 14px;
            }

            h5 {

                padding-bottom: 24px;

            }
        }

        &-content {

            label {
                
                padding-left: 15px;

            }

            input {

                border: 1px solid $color_white;
                box-sizing: border-box;
                border-radius: 2px;

                &::placeholder {

                    color: $color-placeholder;
                    font-weight: bold;
                    text-transform: uppercase;

                }

            }

        }

    }

    &-product-info {

        border: 6px solid $color_accent;
        padding: 22px;

    }

    &-product-model {

        padding-top: 17px;

        ul {

        list-style: none;
        padding-left: 20px;

            &:nth-child(odd) {

                li {

                    p {

                        font-weight: bold;

                    }

                }

                .product-color {

                    &:before {

                        content: '';
                        background: #91613D;
                        border: 2px solid #000000;
                        max-width: 15px;
                        width: 100%;
                        max-height: 15px;
                        border-radius: 50%;

                    }

                }

            }

        }

    }

    &-product-details {


        p {
            padding-left: 20px;

        }

    }

    &-product-price  {

        @include display-flex;
        @include align-items(baseline);
        @include justify-content(flex-end);
        padding-right: 20px;

        .price {

            @include display-flex;
            @include align-items(center);

            p {

                font-size: 30px;
                line-height: 39px;
                margin-bottom: 0;
                margin-left: 20px;
                position: relative;
                text-transform: uppercase;

                .badge {

                    position: absolute;
                    left: 27px;
                    top: -25px;
                    font-size: 14px;
            
                    &:before {

                        @include transform(rotate(-8.84deg));
                        border: 1px solid $color-text;
                        color: $color-text;
                        content: '';
                        max-width: 50px;
                        position: absolute;
                        right: -2px;
                        top: 13px;
                        width: 50px;
                    }

                }

            }

        }

    }

    &-product-add-cart {

        background: $color-light-grey;
        margin-top: 15px;
        padding: 40px 20px;

        label {

            padding-left: 15px;
            font-size: 18px;
            color: $color-placeholder;

        }

        select {

            @include border-radius(2px);
            box-sizing: border-box;
            

            * {
                color: $color-placeholder;
                font-family: $font_body $nb;
                font-family: bold $nb;
                text-transform: uppercase;
            }

            option {

                color: $color-placeholder;

            }

        }

        .select-quantity {

            margin-top: 30px;

        }

    }

}


.badge {

    &-primary {

        background: $color_accent;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        line-height: 21px;
        padding: 5px 15px 5px 30px;
        position: relative;

        &:before {

            content: $tag-white;
            padding-top: 5px;
            position: absolute;
            left: 9px;
            top: 4px;

        }

    }

    &-secondary {

        font-size: 12px;
        line-height: 16px;
        padding: 0 0 0 20px;
        position: relative;
        background: $color_white;
        color: $color-placeholder;
        font-weight: normal;

        &:before {

            content: $store-alt;
            padding-top: 5px;
            position: absolute;
            left: 0px;
            top: -3px;

        }

    }

    &-light {

        background: $color_white;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;     

    }

}

/********************************************************/
/****************** CAROSEL *****************************/
/********************************************************/
.thumbnails {

    li {

        margin-top: 17px;
        margin-right: 12px;

    }

}

.carousel-indicators {

    padding: 0 $nb;
    position: relative $nb;
    margin: 0 $nb;

    li {


        width: 100%;
        height: 100%;

        img {

            max-width: 96px;
            max-height: 96px;

        }

    }

}

.nav-carousel-indicators {

    position: absolute;
    left: 50%;
    bottom: 15px;
    margin-left: -45px;

    ol {

        @include border-radius(32px);
        background: $color-carousel-indcator;
        height: 15px;
        margin-left: 3px $nb;
        margin-right: 3px $nb;
        margin-top: 0 $nb;
        width: 76px;

        li {

            @include border-radius(50%);
            color: $color_white;
            height: 6.53px;
            width: 6.53px;

        }

        .active {

            color: $color_white;
            width: 7.72px;
            height: 7.72px;

        }

    }

}

.carousel-control {

    &-next {

        top: -130px;

    }

    &-prev {

        top: -130px;

    }

}

.carousel-nav-right {

    &:before {

        content: $carousel-chev-right;

    }

}

.carousel-nav-left {

    &:before {

        content: $carousel-chev-left;

    }

}



/*
*   Offcanvas sidebar
*/

.sidebar_offcanvas {

    &_container {

        @include transform(translate(-105%, 0));
        @include transition(transform .5s ease-in-out);
        background: $color_accent;
        min-width: 20%;
        left: 10px;
        top: 200px;
        z-index: 99999;

        &.open {

            @include transform(translate(0px, 0));
            max-height: 100% $nb;
            margin: 20px 0;
        }

    }

    &_inner {

        padding: 20px;
        position: relative;


            &:before {

                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3.5px 0 3.5px 7px;
                border-color: transparent transparent transparent $color_accent;
                right: 0;
                top: 50%;

            }

    }

    &_trigger {

        @include transform(translate(-100%, -50%));
        background: $color_accent;
        display: inline-block;
        position: absolute;
        right: -40px;
        top: 50%;
        padding: 10px;
        max-width: 50px;
        font-size: 25px;

        span {

            display: none;

        }

    }

}